.env

venv/
venv312/

__pycache__/
*.pyc

logs/
screenshots/

.streamlit/secrets.toml

*.log
*.db

cli_assistant/contacts_local.json
cli_assistant/contacts.json
cli_assistant/PyWhatKit_DB.txt

shared/memory.json
shared/userdata.json
shared/reminders.json